@import "tailwindcss";

@theme {
  --color-primary: #30e87a;
  --color-background-light: #f6f8f7;
  --color-background-dark: #f6f8f7;

  --font-sans: "Manrope", sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
}


